
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #bae6fd;
   
}
/* Firefox */
* {
    /* scrollbar-width: thin; */
    /* scrollbar-color: #4594ee #DFE9EB; */
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    
}


*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #4594ee;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #2563eb;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #1c5fef;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}